.calculadora{
    display:block;
    margin:0 auto;
    padding:20px;
    background-color:#383b3d;
    width:300px;
    height:500px;
    border-radius: 25px;
  }
  .calculadora td button{
    background: #ffffff;
    width:70px;
    height: 70px;
    font-size: 25px;
    border-radius: 50px;    
  }
  #creditos{
    display:block;
    padding-top:20px;
    color:rgb(243, 1, 1);
    text-align: center;
    width:300px;
    
  }
  #resultado{
    display:block;
    text-align: center;
    font-size: 40px;
    margin-bottom: 50px;
    width:300px;
    height: 100px;
    line-height: 100px;
    background-color:rgb(131, 121, 121);
    border-radius: 25px;
   
  }